<%= form_for([@goal, @entry, @comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <span class="glyphicon glyphicon-comment"></span>&nbsp;
    <%= f.label :body, 'Comment' %>
    <%= f.text_area :body, class: 'form-control', rows: '3' %>
  </div>
  <div class='form-group'>
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
