<% provide(:title, "Edit Entry") %>
<div class="container entry-form">
  <!-- Entry Information -->
  <p>
    <strong>
      <%= link_to @goal.user.username.titleize, @goal.user %>
      <%= " wants to " %>
      <%= link_to @goal.description, goal_path(@goal) %>
    </strong>
  </p>
  <div class="container form-page">

    <%= link_to 'Back to Goal', goal_path(@goal), class: "back-to-goal" %>

    <h3>Edit Entry</h3>

    <%= render 'form' %>

  </div>
</div>
