<p id="notice"><%= notice %></p>

<p>
  <%= @entry.content %>
</p>

<!-- Entry Cheer Count -->
<p>
  <%= "#{@entry.cheering_users.count} cheers" %>
</p>

<!-- Cheer Entry & Edit/Delete Controls -->
<%= render 'control' %>

<!-- Entry Cheerers -->
<%= render 'cheerers' %>

<%= link_to 'Goal', goal_path(@goal) %>

<!-- Comments Form -->
<%= render partial: 'comments/form', goal: @goal %>

<!-- Entry Comments -->
<%= render 'comments' %>
