<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @entry.content %>
</p>

<!-- Entry cheer count and controls -->
<%= render 'control' %>

<!-- Entry cheerers info -->
<%= render 'cheers' %>

<%= link_to 'Goal', goal_path(@goal) %>

<%= render partial: 'comments/form', goal: @goal %>

<!-- Entry Comments -->
<%= render 'comments' %>
