<div class="row">
  <% @goals.each do |goal| %>

  <% unless goal.private? && current_user != @user && !current_user.try(:admin?) %>

    <div class="col-md-4 text-center">
      <div class="home-padding<% if goal.private? %><%= " private" %><% end %>">

          <p>
            <%= link_to image_tag(goal.user.gravatar_url, class: 'avatar'), goal.user %>
          </p>

          <p>
            <strong><%= link_to goal.user.username.titleize, goal.user %></strong>
            <%= " wants to " %>
            <strong><%= link_to goal.description, goal %></strong>
          </p>

          <div class="control">
            <p>
              <span><% if goal.completed? %><em>completed</em><% end %></span>
            </p>
          </div>
      </div>
    </div>

  <% end %><!-- End of Unless Statement -->
  <% end %><!-- End of Each Block -->
</div>

<div class="text-center">
    <p class="pagination">
      <%= will_paginate @goals, renderer: BootstrapPagination::Rails %>
    </p>
  </div>
</div>
