<div class="row">
  <% @goals.each do |goal| %>

  <% unless goal.private? && current_user != @user && !current_user.try(:admin?) %>

    <div class="col-sm-3 text-center">
      <div class="home-padding<% if goal.private? %><%= " private" %><% end %>">

          <p>
            <%= link_to image_tag(goal.user.gravatar_url, class: 'avatar'), goal.user %>
          </p>

          <p>
            <strong><%= link_to goal.user.username.titleize, goal.user %></strong>
            <%= " wants to " %>
            <strong><%= link_to goal.description, goal %></strong>
          </p>

          <div class="control">
            <p>
              <span><% if goal.completed? %><em>completed</em><% end %></span>
            </p>

            <!-- Only show View button if current user is not profile user -->
              <% if current_user != @user %>
                <p><%= link_to "View", goal, class: 'btn btn-default' %></p>
              <% end %>

              <% if authorized_user?(goal) %>
                <%= link_to 'Edit', edit_goal_path(goal), class: 'btn btn-default' %>&nbsp;
                <%= link_to 'Destroy', goal, method: :delete,
                data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
              <% end %>
          </div>
      </div>
    </div>

  <% end %><!-- End of Unless Statement -->
  <% end %><!-- End of Each Block -->
</div>

<div class="text-center">
    <p class="pagination">
      <%= will_paginate @goals, renderer: BootstrapPagination::Rails %>
    </p>
  </div>
</div>
