<% provide(:title, "Activity Feed") %>
<div class="container recent-goals feed">
  <h4><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;Activity</h4>

  <ul class="feed-items text-center">

    <% @activity.each do |obj| %>

      <% if obj.has_attribute?(:description) %>
        <li>
        <strong><%= link_to obj.user.username.titleize, obj.user %></strong> posted
        <span><strong><%= link_to obj.description, obj %></strong></span>
        &nbsp;<span><strong><%= time_ago_in_words(obj.created_at) %></strong></span>
        ago.
        <hr>
        </li>
      <% else %>
        <li>
        <strong><%= link_to obj.user.username.titleize, obj.user %></strong> posted
        <span><strong><%= link_to truncate(obj.content, length: 30), obj.goal %></strong></span>
        &nbsp;<span><strong><%= time_ago_in_words(obj.created_at) %></strong></span>
        ago.
        <hr>
        </li>
      <% end %>
    <% end %>
  </ul>

  <div class="text-center">
    <p class="pagination">
      <%= will_paginate @activity, renderer: BootstrapPagination::Rails %>
    </p>
  </div>
</div>
