<h1>Activity</h1>

<ul>
  <% @activity.each do |obj| %>
    <% if obj.has_attribute?(:description) %>
      <li>
      <strong><%= link_to obj.user.username, obj.user %></strong> posted
      <span><strong><%= link_to obj.description, obj %></strong></span>
      at <span><strong><%= time_ago_in_words(obj.created_at) %></strong><span>
      ago.
      </li>
    <% else %>
      <li>
      <strong><%= link_to obj.user.username, obj.user %></strong> posted
      <span><strong><%= link_to obj.content, obj.goal %></strong></span>
      at <span><strong><%= time_ago_in_words(obj.created_at) %></strong></span>
      ago.
      </li>
    <% end %>
  <% end %>
</ul>

<%= will_paginate @activity %>
