<h1><%= @user.username %></h1>

<p>
  <% if user_signed_in? && current_user != @user %>
    <% if current_user.following?(@user) %>
      <%= render partial: 'friendships/unfollow' %>
    <% else %>
      <%= render partial: 'friendships/follow' %>
    <% end %>
  <% end %>
</p>

<% unless !user_signed_in? || current_user != @user %>
  <p><%= link_to 'Activity Feed', user_feed_path(@user) %></p>
<% end %>

<ul>
<% @user.goals.each do |goal| %>
  <li><%= link_to goal.description, goal %></li>
<% end %>
</ul>

<h2>Following</h2>
<ul class="following">
  <% @user.friendships.each do |user| %>
    <li>
    <%= link_to user.friend.username, user.friend %>
    <span><%= link_to 'unfollow', user, method: :delete %></span>
    </li>
  <% end %>
</ul>

<h2>Followers</h2>
<ul class="followers">
  <% @user.followers.each do |user| %>
    <li>
      <%= link_to user.username, user %>
    </li>
  <% end %>
</ul>

<p><%= link_to 'Back', root_url %></p>
