<h1><%= @user.username %></h1>

<ul>

  <li><%= link_to "Followers (#{@user.followers.count})",
  user_followers_path(@user) %></li>

  <li><%= link_to "Following (#{@user.friendships.count})",
  user_following_path(@user) %></li>

</ul>

<p>
  <% if user_signed_in? && current_user != @user %>
    <% if current_user.following?(@user) %>
      <%= render partial: 'friendships/unfollow' %>
    <% else %>
      <%= render partial: 'friendships/follow' %>
    <% end %>
  <% end %>
</p>

<% unless !user_signed_in? || current_user != @user %>
  <p><%= link_to 'Activity Feed', user_feed_path(@user) %></p>
<% end %>

<h2><%= "#{@user.username}'s Goals" %></h2>

<ul>
<% @user.goals.each do |goal| %>
  <% unless goal.private? && current_user != @user && !current_user.try(:admin?) %>
    <li class="control">
      <%= link_to goal.description, goal %>&nbsp;
      <span><% if goal.private? %><em>private</em><% end %></span>

        <% if authorized_user?(goal) %>
          <%= link_to 'Edit', edit_goal_path(goal) %>&nbsp;
          <%= link_to 'Destroy', goal, method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    </li>
  <% end %>
<% end %>
</ul>

<p><%= link_to 'Back', root_url %></p>
