<h1><%= @user.username.titleize %></h1>

<p><%= link_to @user.completed_goals, user_accomplished_path(@user) %> <strong>Goals Completed</strong></p>

<!-- Show Followers and Following -->
<%= render 'friends' %>

<p>
  <% if user_signed_in? && current_user != @user %>
    <% if current_user.following?(@user) %>
      <%= render partial: 'friendships/unfollow' %>
    <% else %>
      <%= render partial: 'friendships/follow' %>
    <% end %>
  <% end %>
</p>

<% unless !user_signed_in? || current_user != @user %>
  <p><%= link_to 'Activity Feed', user_feed_path(@user) %></p>
<% end %>

<h2><%= "#{@user.username.titleize}'s Goals" %></h2>

<!-- List User's Goals -->
<%= render 'goals' %>

<p><%= link_to 'Back', root_url %></p>
