<h1>Recent Goals</h1>

<ul>
  <% @goals.each do |goal| %>
    <li>
      <%= image_tag goal.user.gravatar_url, class: 'avatar' %><br>

      <p><strong><%= link_to goal.user.username.titleize, goal.user %></strong> wants to <strong><%= link_to goal.description, goal %></strong></p>

      <% goal.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>&nbsp;
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate @goals %>
