<div class="entries">
  <% unless @goal.entries.blank? %>
    <% @goal.entries.each do |entry| %>

      <p><%= entry.content %></p>

      <span>
        <%= link_to "View Entry", goal_entry_path(@goal, entry) %>&nbsp;
        <span class="cheer-count"><%= "#{entry.cheering_users.count} cheers" %></span>&nbsp;

        <!-- Cheer/Uncheer Entry Controls -->
        <%= render 'cheers', entry: entry %>&nbsp;

        <!-- Entry Edit/Destroy Links -->
        <% if authorized_user?(entry) %>
          <p>
            <%= link_to 'Edit', edit_goal_entry_path(@goal, entry) %>&nbsp;&nbsp;|&nbsp;
            <%= link_to 'Destroy', [@goal, entry], method: :delete,
            data: { confirm: 'Are you sure you want to delete this entry?' } %>
          </p>
        <% end %>
        </span>

          <p>
    <% end %>
  <% else %>
    <!-- If no entries -->
    <p class="no-entries">No Entries</p>
  <% end %>
</div>

<p>
  <%= will_paginate @entries %>
</p>
