<ul class="entries">
  <% unless @goal.entries.blank? %>
    <% @goal.entries.each do |entry| %>

      <li class="entry">
        <p><%= h truncate(entry.content, length: 1000) %></p>

      <hr>

      <div class="entry-control">
        <%= link_to "View Entry", goal_entry_path(@goal, entry) %>&nbsp;
        <span class="cheer-count"><%= "#{entry.cheering_users.count} cheers" %></span>&nbsp;

        <!-- Entry Edit/Destroy Links -->
        <% if authorized_user?(entry) %>
          <p class="goal-page-entry-control">
            <%= link_to 'Edit', edit_goal_entry_path(@goal, entry) %>&nbsp;&nbsp;|&nbsp;
            <%= link_to 'Destroy', [@goal, entry], method: :delete,
            data: { confirm: 'Are you sure you want to delete this entry?' } %>
          </p>
        <% end %>
      </div>

      <p class="created">
        posted <strong><%= time_ago_in_words(entry.created_at) %></strong> ago.
      </p>
      </li>

          <p>
    <% end %>
  <% else %>
    <!-- If no entries -->
    <li class="no-entries">No Entries</li>
  <% end %>
</ul>

<div class="text-center">
  <p class="pagination">
    <%= will_paginate @entries, renderer: BootstrapPagination::Rails %>
  </p>
</div>
