<ul class="entries">
  <% if @goal.entries %>
    <% @goal.entries.each do |entry| %>
      <li><%= entry.content %></li>

      <span>
        <%= link_to "View Entry", goal_entry_path(@goal, entry) %>&nbsp;
        <%= "#{entry.cheering_users.count} cheers" %>&nbsp;

        <!-- Cheer/Uncheer Entry Controls -->
        <%= render 'cheers', entry: entry %>&nbsp;

      <!-- Entry Edit/Destroy Links -->
      <% if authorized_user?(entry) %>
        <%= link_to 'Edit', edit_goal_entry_path(@goal, entry) %>&nbsp;
        <%= link_to 'Destroy', [@goal, entry], method: :delete,
        data: { confirm: 'Are you sure you want to delete this entry?' } %>
      <% end %>
      </span>

          <p>
    <% end %>
  <% else %>
    <!-- If no entries -->
    <strong><li>No Entries</li></strong>
  <% end %>
</ul>

<p>
  <%= will_paginate @entries %>
</p>
