<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Carpe Diem</h1>
    <p class="lead">Sieze the day!</p>
    <p><%= link_to "Sign Up for Free!", new_user_registration_path, class: "btn btn-lg btn-success", role: "button" %></p>
</div>

<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><strong><%= link_to goal.user.username.titleize, goal.user %></strong></td>
        <td><%= " wants to " %></td>
        <td><strong><%= link_to goal.description, goal %></strong></td>
      </tr>
      <tr>
        <% goal.tags.each do |tag| %>
          <td><%= link_to tag.name, tag_path(tag) %>&nbsp; </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'View More', pages_recent_path %></p>

<p>
  <% Tag.top_tags.shuffle.each do |tag| %>
    <%= link_to tag.name, tag_path(tag),
    class: (Tag.size?(tag)) %>
  <% end %>
</p>

<br>
