<p id="notice"><%= notice %></p>

<h1>Listing Goals</h1>

<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><strong><%= link_to goal.user.username.titleize, goal.user %></strong></td>
        <td><%= " wants to " %></td>
        <td><strong><%= link_to goal.description, goal %></strong></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <% Tag.top_tags.shuffle.each do |tag| %>
    <%= link_to tag.name, tag_path(tag),
    class: (Tag.size?(tag)) %>
  <% end %>
</p>

<br>

<%= link_to 'New Goal', new_goal_path %>
