<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p><%= link_to "New Entry", new_goal_entry_path(@goal) %></p>

<ul class="entries">
  <% if @goal.entries %>
    <% @goal.entries.each do |entry| %>
      <li><%= entry.content %></li>
    <% end %>
  <% else %>
    <strong><li>No Entries</li></strong>
  <% end %>
</ul>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
