<div class="container">

  <div class="col-lg-12 goal-page">

  <!-- Create New Entry for Goal -->
  <% unless current_user != @user || @goal.completed? %>
    <p class="new-entry"><%= link_to "New Entry", new_goal_entry_path(@goal), class: 'btn btn-primary' %></p>
  <% end %>

  <!-- Edit & Destroy links -->
  <%= render 'control' %>

  <div class="user-info text-center">

  <!-- User Avatar -->
  <p><%= link_to image_tag(@user.gravatar_url, class: 'avatar goal-avatar'), @user %></p>

  <!-- Username & Goal -->
  <p class="user-goal">
    <strong>
      <%= link_to @user.username.titleize, @user %><%= " wants to #{@goal.description}" %>
    </strong>
    <% if @goal.private? %>
      <span class="glyphicon glyphicon-eye-close" title="Private"></span>
    <% end %>
  </p>

    <!-- Mark Goal as completed links. -->
    <%= render 'completed' %>

  </div>

  <h4 class="entries-title"><span class='glyphicon glyphicon-pencil'></span>&nbsp;&nbsp;Entries</h4>

  <!-- Show entries for goal -->
  <%= render 'entries' %>

  <p class="social">
    <%= social_share_button_tag("Carpe Diem: #{@goal.description}", url: @goal) %>
  </p>

  <h4 class="goal-tags-title"><span class='glyphicon glyphicon-tags'></span>&nbsp;&nbsp;Tags</h4>

  <div class="col-md-12 goal-tags">
     <% @goal.tags.each do |tag| %>
      <strong><%= link_to tag.name, tag_path(tag), class: 'tag' %></strong>
     <% end %>
  </div>

  </div>
</div>
