<p id="notice"><%= notice %></p>

<p>
  <strong><%= link_to @user.username, @user %><%= " wants to #{@goal.description}" %></strong>
</p>

<% if authorized_user?(@goal) %>
  <p class="control">
    <%= link_to 'Edit', edit_goal_path(@goal) %>&nbsp;
    <%= link_to 'Destroy', @goal, method: :delete,
    data: { confirm: 'Are you sure you want to delete this goal?' } %>
  </p>
<% end %>

<p>
  <% if user_signed_in? && current_user != @user %>
    <% if current_user.following?(@user) %>
      <%= render partial: 'friendships/unfollow' %>
    <% else %>
      <%= render partial: 'friendships/follow' %>
    <% end %>
  <% end %>
</p>

<p><%= link_to "New Entry", new_goal_entry_path(@goal) %></p>

<ul class="entries">
  <% if @goal.entries %>
    <% @goal.entries.each do |entry| %>
      <li><%= entry.content %></li>

      <span>
        <%= link_to "View Entry", goal_entry_path(@goal, entry) %>&nbsp;
        <%= link_to "#{entry.cheering_users.count} cheers",
        cheer_goal_entry_path(@goal, entry), method: :post %>&nbsp;

      <% if authorized_user?(entry) %>
        <%= link_to 'Edit', edit_goal_entry_path(@goal, entry) %>&nbsp;
        <%= link_to 'Destroy', [@goal, entry], method: :delete,
        data: { confirm: 'Are you sure you want to delete this entry?' } %>
      <% end %>
      </span>

          <p>
    <% end %>
  <% else %>
    <strong><li>No Entries</li></strong>
  <% end %>
</ul>

<p>
 <strong>Tags:</strong>
 <% @goal.tags.each do |tag| %>
  <%= link_to tag.name, tag_path(tag) %>,
 <% end %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
