<p><%= image_tag @user.gravatar_url, class: 'avatar' %></p>

<p>
  <!-- Username & Goal -->
  <strong><%= link_to @user.username.titleize, @user %><%= " wants to #{@goal.description}" %></strong><br>
  <!-- Goal Cheers Count -->
  <span><%= @goal.cheers_count %> <strong>Cheers</strong></span>
</p>

<!-- Mark Goal as completed links. -->
<%= render 'completed' %>

<p><% if @goal.private? %><em>private</em><% end %></p>

<!-- Edit & Destroy links -->
<%= render 'control' %>

<!-- Follow/Unfollow Buttons -->
<p>
  <% if user_signed_in? && current_user != @user %>
    <% if current_user.following?(@user) %>
      <%= render partial: 'friendships/unfollow' %>
    <% else %>
      <%= render partial: 'friendships/follow' %>
    <% end %>
  <% end %>
</p>

<!-- Create New Entry for Goal -->
<% unless current_user != @user || @goal.completed? %>
  <p><%= link_to "New Entry", new_goal_entry_path(@goal) %></p>
<% end %>

<!-- Show entries for goal -->
<%= render 'entries' %>

<p>
  <%= social_share_button_tag("Carpe Diem: #{@goal.description}", url: @goal) %>
</p>

<p>
 <strong>Tags:</strong>
 <% @goal.tags.each do |tag| %>
  <%= link_to tag.name, tag_path(tag) %>,
 <% end %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
