<p id="notice"><%= notice %></p>

<p>
  <strong><%= link_to @user.username, @user %><%= " wants to #{@goal.description}" %></strong>
</p>

<p>
  <% if user_signed_in? && current_user != @user %>
    <% if current_user.following?(@user) %>
      <%= render partial: 'friendships/unfollow' %>
    <% else %>
      <%= render partial: 'friendships/follow' %>
    <% end %>
  <% end %>
</p>

<p><%= link_to "New Entry", new_goal_entry_path(@goal) %></p>

<ul class="entries">
  <% if @goal.entries %>
    <% @goal.entries.each do |entry| %>
      <li><%= entry.content %></li>

      <span><%= link_to "#{entry.cheering_users.count} cheers", cheer_goal_entry_path(@goal, entry), method: :post %></span>

      <br><% entry.cheering_users.each do |user| %>
            <%= "#{user.username} cheered this." %>
          <% end %>

          <p>
    <% end %>
  <% else %>
    <strong><li>No Entries</li></strong>
  <% end %>
</ul>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
