<!DOCTYPE html>
<html>
<head>
  <title>CarpeDiem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= render 'layouts/nav' %>
<body>

<% flash.each do |name, msg| %>
<% if msg.is_a?(String) %>
  <div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= content_tag :div, msg, :id => "flas_#{name}" %>
  </div>
<% end %>
<% end %>


  <%= yield %>

<footer>
  <%= render 'layouts/footer' %>
</footer>

</body>
</html>
