<!DOCTYPE html>
<html>
<head>
  <title>CarpeDiem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= render 'layouts/nav' %>
<body>

<div class="flash">
  <%= render 'layouts/flash' %>
</div>


  <%= yield %>

<footer>
  <%= render 'layouts/footer' %>
</footer>

</body>
</html>
